In [2]:
import pandas as pd

In [4]:
test_df = pd.read_csv('../data/raw/test.csv')
test_df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,3105,3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,6399,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,7374,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,7771,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,12938,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
num_rows, num_columns = test_df.shape
print(f"Number of columns in test.csv: {num_columns}")
print(f"Number of rows in test.csv: {num_rows}")

Number of columns in test.csv: 50
Number of rows in test.csv: 6622629

In [6]:
# Listing column names for test.csv DataFrame
test_column_names = test_df.columns.tolist()
print("Column names in test.csv:", test_column_names)

Column names in test.csv: ['srch_id', 'date_time', 'site_id', 'visitor_location_country_id', 'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id', 'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool', 'prop_location_score1', 'prop_location_score2', 'prop_log_historical_price', 'price_usd', 'promotion_flag', 'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count', 'srch_saturday_night_bool', 'srch_query_affinity_score', 'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv', 'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv', 'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv', 'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv', 'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv', 'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv', 'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv', 'comp8_rate_percent_diff']

In [13]:
# Creating a DataFrame for column information
test_columns_info = pd.DataFrame({
    'Column Name': test_df.columns,
    'Data Type': [test_df[col].dtype for col in test_df.columns]
})

# Display the DataFrame
test_columns_info

                    Column Name Data Type
0                       srch_id     int64
1                     date_time    object
2                       site_id     int64
3   visitor_location_country_id     int64
4       visitor_hist_starrating   float64
5          visitor_hist_adr_usd   float64
6               prop_country_id     int64
7                       prop_id     int64
8               prop_starrating     int64
9             prop_review_score   float64
10              prop_brand_bool     int64
11         prop_location_score1   float64
12         prop_location_score2   float64
13    prop_log_historical_price   float64
14                    price_usd   float64
15               promotion_flag     int64
16          srch_destination_id     int64
17          srch_length_of_stay     int64
18          srch_booking_window     int64
19            srch_adults_count     int64
20          srch_children_count     int64
21              srch_room_count     int64
22     srch_saturday_night_bool     int64
23    srch_query_affinity_score   float64
24    orig_destination_distance   float64
25                  random_bool     int64
26                   comp1_rate   float64
27                    comp1_inv   float64
28      comp1_rate_percent_diff   float64
29                   comp2_rate   float64
30                    comp2_inv   float64
31      comp2_rate_percent_diff   float64
32                   comp3_rate   float64
33                    comp3_inv   float64
34      comp3_rate_percent_diff   float64
35                   comp4_rate   float64
36                    comp4_inv   float64
37      comp4_rate_percent_diff   float64
38                   comp5_rate   float64
39                    comp5_inv   float64
40      comp5_rate_percent_diff   float64
41                   comp6_rate   float64
42                    comp6_inv   float64
43      comp6_rate_percent_diff   float64
44                   comp7_rate   float64
45                    comp7_inv   float64
46      comp7_rate_percent_diff   float64
47                   comp8_rate   float64
48                    comp8_inv   float64
49      comp8_rate_percent_diff   float64

In [14]:
test_columns_info.to_csv('test_columns_info.csv', index=False)
print('Dataframe exported to csv file.')

Dataframe exported to csv file.

In [15]:
test_columns_info.to_csv('test_columns_info.txt', index=False)
print('Dataframe exported to txt file.')

Dataframe exported to txt file.

In [5]:
# Select the first few rows. For example, the first 5 rows
test_col_head = test_df.head(5)

# Export to CSV
test_col_head.to_csv('test_col_head.csv', index=False)
test_col_head.to_csv('test_col_head.txt', index=False)