In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('../data/raw/train.csv')
train_df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [3]:
num_rows, num_columns = train_df.shape
print(f"Number of columns in train.csv: {num_columns}")
print(f"Number of rows in train.csv: {num_rows}")

Number of columns in train.csv: 54
Number of rows in train.csv: 9917530

In [4]:
# Listing column names for train.csv DataFrame
test_column_names = train_df.columns.tolist()
print("Column names in train.csv:", test_column_names)

Column names in train.csv: ['srch_id', 'date_time', 'site_id', 'visitor_location_country_id', 'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id', 'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool', 'prop_location_score1', 'prop_location_score2', 'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag', 'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count', 'srch_saturday_night_bool', 'srch_query_affinity_score', 'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv', 'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv', 'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv', 'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv', 'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv', 'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv', 'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv', 'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd', 'booking_bool']

In [5]:
# Creating a DataFrame for column information
train_columns_info = pd.DataFrame({
    'Column Name': train_df.columns,
    'Data Type': [train_df[col].dtype for col in train_df.columns]
})

# Display the DataFrame
train_columns_info

                    Column Name Data Type
0                       srch_id     int64
1                     date_time    object
2                       site_id     int64
3   visitor_location_country_id     int64
4       visitor_hist_starrating   float64
5          visitor_hist_adr_usd   float64
6               prop_country_id     int64
7                       prop_id     int64
8               prop_starrating     int64
9             prop_review_score   float64
10              prop_brand_bool     int64
11         prop_location_score1   float64
12         prop_location_score2   float64
13    prop_log_historical_price   float64
14                     position     int64
15                    price_usd   float64
16               promotion_flag     int64
17          srch_destination_id     int64
18          srch_length_of_stay     int64
19          srch_booking_window     int64
20            srch_adults_count     int64
21          srch_children_count     int64
22              srch_room_count     int64
23     srch_saturday_night_bool     int64
24    srch_query_affinity_score   float64
25    orig_destination_distance   float64
26                  random_bool     int64
27                   comp1_rate   float64
28                    comp1_inv   float64
29      comp1_rate_percent_diff   float64
30                   comp2_rate   float64
31                    comp2_inv   float64
32      comp2_rate_percent_diff   float64
33                   comp3_rate   float64
34                    comp3_inv   float64
35      comp3_rate_percent_diff   float64
36                   comp4_rate   float64
37                    comp4_inv   float64
38      comp4_rate_percent_diff   float64
39                   comp5_rate   float64
40                    comp5_inv   float64
41      comp5_rate_percent_diff   float64
42                   comp6_rate   float64
43                    comp6_inv   float64
44      comp6_rate_percent_diff   float64
45                   comp7_rate   float64
46                    comp7_inv   float64
47      comp7_rate_percent_diff   float64
48                   comp8_rate   float64
49                    comp8_inv   float64
50      comp8_rate_percent_diff   float64
51                   click_bool     int64
52           gross_bookings_usd   float64
53                 booking_bool     int64

In [6]:
train_columns_info.to_csv('train_columns_info.csv', index=False)
print('Dataframe exported to csv file.')

Dataframe exported to csv file.

In [7]:
train_columns_info.to_csv('train_columns_info.txt', index=False)
print('Dataframe exported to txt file.')

Dataframe exported to txt file.